aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: $dark;
    padding: 4rem 2rem;
    border-right: 1px solid $white;

    .sidebar-section {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }

    .stroke-inputs,
    .background-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}