button {
    cursor: pointer;
    @include transition;

    &:focus,
    &:active {
        outline: none;
    }
}

button.clear-canvas {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    border: none;
    background-color: $white;
    @include flexCenter;
    cursor: pointer;
    box-shadow: 0 2px 40px rgba(0, 0, 0, .3);
    opacity: 0;
    transform: scale(.7);
    animation: fadeInScale 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards 1;

    svg {
        height: 40%;

        path {
            fill: $danger;
        }
    }

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    }
}

button.tool-select {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: lighten($dark, 10%);

    &:hover {
        background-color: lighten($dark, 20%);

        svg {
            path {
                fill: darken($dark, 10%);
            }
        }
    }

    &:nth-of-type(3) {
        svg {
            transform: scaleX(-1);
        }
    }

    svg {
        height: 50%;
        @include transition;

        path {
            @include transition;
            fill: $dark;
        }
    }

    &.active {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);

        svg {
            path {
                fill: $primary;
            }
        }
    }

    &.disabled {
        cursor: not-allowed;

        svg {
            path {
                fill: $black;
            }
        }
    }
}

button.background-select {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid $white;

    &.background-dark {
        background-color: $dark;
    }

    &.active {
        border-color: $primary;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        transform: scale(1.1);
    }
}